# Node.js / Expo
node_modules/
.expo/
.expo-shared/
*.log
*.lock
android/
ios/
web-build/
dist/

# Виртуальные окружения Python
.venv/
.venv-1/
venv/
backend/venv/

# IDE
.vscode/
.idea/

# Остальное (у вас уже есть)
# Python
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.env.*
backend/*.log
backend/instance/
backend/.pytest_cache/

# Модели
*.h5
*.keras
*.onnx
*.pb
backend/app/models/*.h5
backend/app/models/class_names.txt

# Базы данных
*.db
*.sqlite3