# Node.js / Expo
node_modules/
.expo/
.expo-shared/
*.log
*.lock
android/
ios/
web-build/
dist/

# Виртуальные окружения Python
.venv/
.venv-1/
venv/
backend/venv/

# IDE
.vscode/
.idea/

# Остальное (у вас уже есть)
# Python
backend/__pycache__/
backend/*.pyc
backend/*.log
backend/instance/
backend/.pytest_cache/

# Базы данных
*.db
*.sqlite3