# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.env.*
backend/*.log
backend/instance/
backend/.pytest_cache/

# Модели (если они большие, лучше не хранить в Git)
*.h5
*.keras
*.onnx
*.pb
backend/app/models/*.h5
backend/app/models/class_names.txt

# Если используете базу данных SQLite
*.db
*.sqlite3